.project{
    background-color: rgb(2, 9, 29);
}

.pr-img{
    width: 200px;
    height: 300px;
    object-fit: contain;
}
@media screen and (max-width:786px) {
    .pr-img{
        width: 350px;
        height: 250px;
        object-fit: contain;
    }
    
}